<header *ngIf="isLoggedIn">
  <span class="heading">Welcome {{user.firstName}}</span>
  <ul>
    <li>
      <button class="btn btn-primary" routerLink="/orders">Orders</button>
    </li>
    <li>
      <button class="btn btn-primary" routerLink="/cart">Cart</button>
    </li>
    <li>
      <button class="btn btn-primary" (click)="signout()">SignOut</button>
    </li>
  </ul>
</header>
<router-outlet></router-outlet>


<div id="loader" *ngIf="isLoading">
  <div class="loader-wrap">
      <div class="loader"></div>
      <div class="loader-text">Loading...</div>
  </div>
</div>